<!doctype html>
<html>
<head>
  <title>Business See</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/jquery.jqplot.css') }}" />
</head>
<body>
  <div class=metanav>
  </div>

  {% for message in get_flashed_messages() %}
  <div class="metanav flash-top">{{ message }}</div>
  {% endfor %}

  {% block body %}
  {% endblock %}
</body>
</html>
