{% extends "layout.html" %}

{% block body %}

<div class=textgame>

	<pre>
  {% if command %}
  last command: {{command}}
  {% endif %}
  current turn: {{game.whosTurn}}
  turn stage: {{game.turnStage}}
  {% if game.turnStage == 'reinforce' %}	
  left to reinforce: {{game.reinforcementsToPlace[game.whosTurn]}}
  {% endif %}

  <div style="align:center">
  {{ gamestring }}
  </div>

</pre>

	<form action="/game/text/{{gameEntry.gid}}/" method="post"> 
		Command: 
		<input type="text" name="cmd" /><br/>
    <br>
		<input type="submit" value="Submit" />
	</form>
<pre>
<div class=text>
  Example Commands
    reinforce Canada 3
    attack Canada USA 3
    pass (means done with stage)
    freemove Canada USA 1
    fortify Canada Greenland 1
  </div>
</pre>

</div>

{% endblock %}
